<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSA Blind Signature Transaction</title>
</head>
<body>
    <h2>RSA Blind Signature Payment System</h2>
    <label for="saver">Choose saver:</label>
    <select id="saver">
        <option value="saver1">Saver 1</option>
        <option value="saver2">Saver 2</option>
    </select>
    <br><br>

    <label for="amount">Choose amount:</label>
    <input type="number" id="amount" placeholder="Enter amount">
    
    <br><br>

    <button onclick="makeTransaction()">Submit Transaction</button>

    <br><br>

    <h3 id="result"></h3>

    <script>
        function makeTransaction() {
            var saver = document.getElementById("saver").value;
            var amount = document.getElementById("amount").value;
            fetch('/request_uuid',{
                method:'POST',
                headers:{
                    'content-Type': 'application/json',
                },
                body:JSON.stringify({
                    saver: saver,
                    amount: amount,
                }),
            }).then(response => response.json())
                .then(data => {
                    if(data.status = "0"){
                        //返回余额不足的信息
                        document.getElementById('result').innerText = `Error: ${data.message}`;
                    }
                    const uuids = data.uuids;

                    uuids.array.forEach(uuid => {
                        fetch('/blind_uuid', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                uuid: uuid,
                            }),
                        }).then(response => response.json())
                            .then(data => {
                                var blinded_message = data.blinded_message;
                                fetch('/request_sign',{
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify({
                                        blinded_message:blinded_message,
                                    }).then(response => response.json())
                                        .then(data => {
                                            if(data.status = "0"){
                                                //返回签名验证失败的信息
                                            }
                                            sign = data.sign;
                                        })
                                })
                            })
                    });
                })
        }
    </script>
</body>
</html>